<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SpringBoot練習アプリ</title>

  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">

  <style>
    li {
      list-style: none;
    }
    .v-main__wrap {
      text-align: center;
    }
    h1 {
      padding-top: 30px;
    }
  </style>
</head>
<body>

  <div id="app">
    <v-app>
      <v-content>
        <h1>SpringBoot練習アプリ</h1>
        <p>Spring Bootを使用して、APIサーバーを作成することの練習です。</p>

        <ul>
          <li><a href="/page/shibaken">柴犬に癒される</a></li>
          <li><a href="/page/cat">猫に癒される</a></li>
        </ul>
      </v-content>
    </v-app>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script>
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
    })
  </script>
</body>
</html>
